@import '../../variables.scss';

.employeeCard {
	max-height: 400px;
	max-width: 275px;
	font-weight: bold;

	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
	border: solid 2px rgb(70, 50, 111);
	backface-visibility: hidden;
	background-color: white;
	padding-bottom: $base-spacing * 2;
	margin: 20px;
	font-size: 12px;
	text-align: center;
	background-color: #f1f8e9;
}
.recordProfile {
	height: 40%;
	width: 100%;
	padding: $base-spacing * 4;
	border-top: none;
	border-radius: 0 2px 2px 0;
	display: flex;
	flex-direction: column;
	padding-top: $base-spacing * 2;
	font-size: 20px;
	font-weight: bold;

	&:hover {
		color: black;
	}
}

.counterProfile {
	height: 40%;
	width: 100%;
	padding: $base-spacing * 4;
	border-top: none;
	border-radius: 0 2px 2px 0;
	display: flex;
	flex-direction: row;
	padding-top: $base-spacing * 2;
	font-size: 20px;
	font-weight: bold;
	display: inline;

	&:hover {
		color: black;
	}
}

h3 {
	color: $primary-color;
	font-size: 1.3 rem;
	margin-top: 12px;
	margin-bottom: $base-spacing * 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		color: black;
	}
}

.counter {
	background-color: #e3f2fd;
}
